{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="UTF-8">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MindRizz AI Solutions</title>
    <!--SEO-->
    <meta
        name="description"
        content="MindRizz AI Solutions helps businesses automate workflows, AI operations, chatbots and business processes using intelligent automation."
    >

    <meta
        name="keywords"
        content="AI Automation, Workflow Automation, Business Automation, AI Consulting, Chatbots, AI Solutions"
    >

    <meta
        name="author"
        content="MindRizz AI Solutions"
    >

    <!-- Favicon -->
    <link
        rel="icon"
        type="image/png"
        href="{% static 'images/favicon.png' %}?v=2">

    <!-- Open Graph / Social Media Preview -->

    <meta property="og:title"
    content="MindRizz AI Solutions">

    <meta property="og:description"
    content="AI Consulting, Automation and Business Intelligence Solutions.">

    <meta property="og:type"
    content="website">

    <meta property="og:image"
    content="{% static 'images/og-image.png' %}">

    <!--Twitter Preview-->

    <meta name="twitter:card"
    content="summary_large_image">

    <meta name="twitter:title"
    content="MindRizz AI Solutions">

    <meta name="twitter:description"
    content="AI Consulting, Automation and Business Intelligence Solutions.">

    <meta name="twitter:image"
    content="{% static 'images/og-image.png' %}">
 
    <!-- Main Styles-->

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DJXHBYYHKC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-DJXHBYYHKC');
    </script>
</head>


<body>

<div class="particles">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>

{% include 'partials/navbar.html' %}

{% block content %}
{% endblock %}

{% include 'partials/footer.html' %}

<script src="{% static 'js/main.js' %}"></script>

</body>

</html>